# Byte-compiled / optimized
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Environments
.env
.envrc
.venv

# Local development logs
logs/

# macOS
.DS_Store

# Ruff
.ruff_cache/

# Mypy / type checkers
.mypy_cache/
